In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf
import os

plt.style.use('ggplot')
data_folder = '.'

sentiment_df = pd.read_csv(os.path.join(data_folder, 'sentiment_data.csv'))
sentiment_df['date'] = pd.to_datetime(sentiment_df['date'])
sentiment_df = sentiment_df.set_index(['date', 'symbol'])
sentiment_df['engagement_ratio'] = sentiment_df['twitterComments']/sentiment_df['twitterLikes']
sentiment_df = sentiment_df[(sentiment_df['twitterLikes']>20)&(sentiment_df['twitterComments']>10)]
sentiment_df

                   twitterPosts  twitterComments  twitterLikes  \
date       symbol
2021-11-18 AAPL           811.0           2592.0       21674.0
           AMD            150.0            675.0        2949.0
           AMZN           557.0           1315.0       12969.0
           ATVI            82.0             36.0         131.0
           BA              61.0             55.0         342.0
...                         ...              ...           ...
2023-01-04 T              184.0           3409.0       14271.0
           TSLA          6767.0         540711.0     3810688.0
           TSN             35.0            168.0         460.0
           V              132.0           1008.0        5943.0
           XOM            212.0            374.0        2071.0

                   twitterImpressions  twitterSentiment  engagement_ratio
date       symbol
2021-11-18 AAPL             7981808.0               NaN          0.119590
           AMD              1645270.0               NaN          0.228891
           AMZN             5590695.0               NaN          0.101396
           ATVI             1310715.0               NaN          0.274809
           BA                425847.0               NaN          0.160819
...                               ...               ...               ...
2023-01-04 T                 884935.0          0.590457          0.238876
           TSLA            55464921.0          0.543057          0.141893
           TSN                57207.0          0.561900          0.365217
           V                 139835.0          0.567286          0.169611
           XOM               483389.0          0.588914          0.180589

[25375 rows x 6 columns]

In [115]:
aggregated_df = (sentiment_df.reset_index('symbol').groupby([pd.Grouper(freq='ME'), 'symbol'])
                    [['engagement_ratio']].mean())
aggregated_df['rank'] = (aggregated_df.groupby(level=0)['engagement_ratio']
                        .transform(lambda x: x.rank(ascending=False)))
aggregated_df

                   engagement_ratio  rank
date       symbol
2021-11-30 AAL             0.203835  37.0
           AAPL            0.256318  23.0
           ABBV            0.244677  26.0
           ABT             0.313368  14.0
           AES             0.864613   2.0
...                             ...   ...
2023-01-31 TMO             0.333313  19.0
           TSLA            0.151992  72.0
           TSN             0.280553  30.0
           V               0.194045  60.0
           XOM             0.217904  53.0

[1109 rows x 2 columns]

In [116]:
filtered_df = aggregated_df[aggregated_df['rank']<6].copy()
filtered_df = filtered_df.reset_index(level=1)
filtered_df.index = filtered_df.index+pd.DateOffset(1)
filtered_df = filtered_df.reset_index().set_index(['date', 'symbol'])
filtered_df = filtered_df.drop(['MRO'], level='symbol')
filtered_df

                   engagement_ratio  rank
date       symbol
2021-12-01 AES             0.864613   2.0
           FCX             0.626323   5.0
           MNST            0.699721   3.0
           OXY             2.147741   1.0
           SLB             0.647374   4.0
...                             ...   ...
2023-02-01 A               0.471572   5.0
           AES             0.533809   4.0
           BIIB            0.839303   1.0
           FCX             0.667387   3.0
           MDT             0.806841   2.0

[74 rows x 2 columns]

In [117]:
dates = filtered_df.index.get_level_values('date').unique().tolist()
fixed_dates = {}

for d in dates:
    fixed_dates[d.strftime('%Y-%m-%d')] = filtered_df.xs(d, level=0).index.tolist()
    
fixed_dates

{'2021-12-01': ['AES', 'FCX', 'MNST', 'OXY', 'SLB'],
 '2022-01-01': ['D', 'FCX', 'L', 'LUV', 'MA'],
 '2022-02-01': ['AMD', 'D', 'FCX', 'LUV', 'MA'],
 '2022-03-01': ['FCX', 'GILD', 'LUV', 'OXY'],
 '2022-04-01': ['A', 'CRM', 'PFE', 'PM', 'STZ'],
 '2022-05-01': ['AMD', 'CRM', 'CVX', 'J', 'KEY'],
 '2022-06-01': ['AMD', 'DD', 'FCX', 'KEY', 'LMT'],
 '2022-07-01': ['CB', 'CRM', 'DD', 'FCX', 'STZ'],
 '2022-08-01': ['A', 'DD', 'JPM', 'REGN', 'STZ'],
 '2022-09-01': ['ABT', 'DIS', 'L', 'META', 'MRNA'],
 '2022-10-01': ['J', 'KEY', 'L', 'META', 'MU'],
 '2022-11-01': ['A', 'DD', 'FCX', 'J', 'META'],
 '2022-12-01': ['AEP', 'AES', 'DD', 'J', 'STZ'],
 '2023-01-01': ['A', 'AES', 'DAL', 'J', 'KEY'],
 '2023-02-01': ['A', 'AES', 'BIIB', 'FCX', 'MDT']}

In [118]:
stocks_list = sentiment_df.index.get_level_values('symbol').unique().tolist()
prices_df = yf.download(tickers=stocks_list, start='2021-01-01', end='2023-03-01')
prices_df = prices_df.drop(columns=['ATVI', 'MRO'], level='Ticker')
prices_df

[*********************100%***********************]  85 of 85 completed

2 Failed downloads:
['ATVI', 'MRO']: YFTzMissingError('possibly delisted; no timezone found')

Price            Close                                                         \
Ticker               A    AAL         AAP        AAPL        ABBV         ABT
Date
2021-01-04  115.337715  15.13  141.919540  126.239670   88.119591  100.580055
2021-01-05  116.280724  15.43  141.766190  127.800461   89.030823  101.824524
2021-01-06  119.469437  15.52  149.956299  123.498528   88.261719  101.612495
2021-01-07  122.648415  15.38  151.237106  127.712723   89.206337  102.598854
2021-01-08  123.523354  15.13  153.392883  128.814987   89.674507  102.884613
...                ...    ...         ...         ...         ...         ...
2023-02-22  139.786133  15.56  136.307022  147.230194  138.443451   98.180702
2023-02-23  140.888046  15.87  134.778992  147.714676  139.729858   98.046852
2023-02-24  138.920334  15.56  131.779938  145.055038  140.317932   96.048630
2023-02-27  139.884506  15.63  133.469299  146.251373  141.760529   95.388924
2023-02-28  139.677917  15.98  137.578827  145.747147  141.411316   97.253304

Price                                                    ...   Volume  \
Ticker            AEP        AES         ALB        AMD  ...      RCL
Date                                                     ...
2021-01-04  68.997742  19.842184  146.018707  92.300003  ...  5732800
2021-01-05  68.904648  20.508142  155.872543  92.769997  ...  4029500
2021-01-06  69.454674  21.327780  167.515427  90.330002  ...  3612500
2021-01-07  67.601524  21.114330  176.029922  95.160004  ...  3993700
2021-01-08  67.000740  21.703447  176.125595  94.580002  ...  3104200
...               ...        ...         ...        ...  ...      ...
2023-02-22  83.101845  22.980518  239.244186  76.610001  ...  2044600
2023-02-23  83.001205  22.980518  246.427811  79.750000  ...  2066600
2023-02-24  82.745003  22.917162  242.224426  78.089996  ...  2875100
2023-02-27  82.415581  22.518915  249.505142  78.769997  ...  2459700
2023-02-28  80.494057  22.337894  246.874329  78.580002  ...  3662300

Price                                                                          \
Ticker         REGN       SLB      STZ         T      TMO       TSLA      TSN
Date
2021-01-04   911100   8743400  1202600  86700816  2220400  145914600  2177400
2021-01-05   797700  16256600  1530200  83054520  2046700   96735600  2297100
2021-01-06  1434700  19456300  1861700  73455520  2112300  134100000  1942200
2021-01-07  1126600  14502400  2537100  71265359  2144400  154496700  2969400
2021-01-08  1018800  11951900  1595400  72471656  2221700  225166500  2672400
...             ...       ...      ...       ...      ...        ...      ...
2023-02-22   415500   9181100  1092200  25308800  1705300  191828500  4217700
2023-02-23   553300   6324500   979700  24845800  1160200  146360000  3403500
2023-02-24   525900   8458700   702900  29138100   852600  142228100  2439300
2023-02-27   557100   6287000   608200  22981100  1110600  161028300  3922200
2023-02-28   622700  10634200  1136900  34154800  1188800  153144900  3556300

Price
Ticker             V       XOM
Date
2021-01-04  10318300  27764700
2021-01-05   6869700  44035100
2021-01-06   7206200  36484800
2021-01-07  10967900  29528100
2021-01-08   6513000  28628200
...              ...       ...
2023-02-22   4621800  13973800
2023-02-23   5533800  11289400
2023-02-24   4414400  14351000
2023-02-27   4255300  11710500
2023-02-28   5385400  18107000

[542 rows x 415 columns]

In [119]:
returns_df = np.log(prices_df['Close']).diff().dropna()
portfolio_df = pd.DataFrame()
for start_date in fixed_dates.keys():
    end_date = (pd.to_datetime(start_date)+pd.offsets.MonthEnd()).strftime('%Y-%m-%d')
    cols = fixed_dates[start_date]
    temp_df = returns_df[start_date:end_date][cols].mean(axis=1).to_frame('portfolio_return')
    portfolio_df = pd.concat([portfolio_df, temp_df], axis=0)
portfolio_df

            portfolio_return
Date
2021-12-01         -0.016417
2021-12-02          0.024872
2021-12-03         -0.007711
2021-12-06          0.023925
2021-12-07          0.030547
...                      ...
2023-02-22         -0.007870
2023-02-23         -0.007323
2023-02-24         -0.009463
2023-02-27         -0.001871
2023-02-28          0.001403

[312 rows x 1 columns]

In [120]:
qqq_df= yf.download(tickers='QQQ',
                   start='2021-01-01',
                   end='2023-03-01')

qqq_ret = np.log(qqq_df['Close']).diff()

portfolio_df = portfolio_df.merge(qqq_ret,
                                 left_index=True,
                                 right_index=True)
portfolio_df = portfolio_df.rename(columns={'QQQ':'nasdaq_return'})
portfolio_df

[*********************100%***********************]  1 of 1 completed

            portfolio_return  nasdaq_return
Date
2021-12-01         -0.016417      -0.017159
2021-12-02          0.024872       0.007181
2021-12-03         -0.007711      -0.017542
2021-12-06          0.023925       0.007981
2021-12-07          0.030547       0.029669
...                      ...            ...
2023-02-22         -0.007870       0.000748
2023-02-23         -0.007323       0.008696
2023-02-24         -0.009463      -0.016886
2023-02-27         -0.001871       0.007136
2023-02-28          0.001403      -0.001294

[312 rows x 2 columns]